* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.89);
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img {
    width: 30px;
    margin-left: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}


.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
}

/* Basic styling for the button */
.button {
    display: inline-block;
    padding: 16px 50px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4e085f;
    color: #ffffff;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}

/* Adding a 3D effect on hover */
.button:hover {
    background-color: #6e0b6e;
    /* transform: scale(0.5.0.5); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 22px;
color:#555;
line-height: 40px;
text-align: center;
border-radius:50%;
}

ul li span:hover{
    background: #5555552f;
   
}